div#cacophony {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 854px;
	font-family: Courier;
}

div#cacophony-video-wrapper {
	padding: 0px;
	margin: 0px;
	height: 480px;
	width: 854px;
	background-color: #e3eaea;
	border: 1px solid #36393b;
}

div#cacophony-video {
}

div#cacophony-canvas1 {
	background-color: transparent;
}

div#cacophony-canvas2 {
	background-color: transparent;
}

div#cacophony-canvas3 {
	background-color: transparent;
}

div#cacophony-canvas4 {
	background-color: transparent;
}

div#cacophony-html {
	background-color: transparent;
}

div#cacophony-play {
	font-weight: bold;
	font-size: 14px;
	width: 30px;
	cursor: hand;
	float: left;
	text-align: left;
}

div#cacophony-duration {
	top: 30px;
	width: 854px;
	height: 20px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
}
